/* CSS DOCUMENT */
@charset "utf-8";

@font-face {
    font-family: poppins regular;
    src: url(fuentes/Poppins-Regular.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: poppins bold;
    src: url(fuentes/Poppins-Bold.ttf) format(truetype);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: poppins light;
    src: url(fuentes/Poppins-Light.ttf) format(truetype);
    font-weight: lighter;
    font-style: normal;

}


body {
    font-family: poppins light, sans-serif;
    color:s #1d851daf;
    background-color: #f8e2eb;
}

/*aplicaciones*/


h2 {
    font-family: poppins bold, sans-serif color;
    color: darkgreen
}

h3 {
    font-family: poppins bold, sans-serif;
    color: darkgreen
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 32px;
    background-color: rgb(240, 186, 224);
}
.nombreylogo {
    display: flex;
    align-items: center;
}
h1 {
    font-family: poppins regular, sans-serif;
    font-size: 2.5rem;
    color: darkgreen
}
a {
    text-decoration: none;  
    color: darkgreen;
    margin-left: 20px;
}
a:hover {
    color: rgb(156, 88, 136);
}
.descripcion_sobremi {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35rem;
    margin: 0.5rem;
    text-align: center;

}

.flexbox_sobremi {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.proyectos_imagenes_flex {
    display: flex;
    justify-content: center;
    gap: 1rem;
    list-style: none;
    flex-wrap: wrap;
}
.flexbox_vermas {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.vermas {
    font-size: 1.5rem;
}
.behance {
    text-decoration: none;
    color: rgb(156, 88, 136);
}
.behance:hover {
    color: rgb(9, 75, 29);
    font-weight: bold;
}
p, h2, h3 {
    text-wrap-style:balance;
    text-align: center;
}
ul {
    text-wrap-style:balance;
    text-align: center;
    list-style: none;
}
.alinearcontactos, .contactoalineado {
    text-align: left;
    margin: 0.5rem
;
}